/* .user-ip {
  display: flex;
  flex-direction: column;

} */

.add-section,
.add-category,
.dropdown {
  display: flex;
  justify-content: center;
  height: 20px;
  font-size: 8px;
}

button {
  border-radius: 0;
}
